<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
  {% if books== []:%}
  <h1>The Library is empty!</h1>
  {% endif %}
    <h1>My Library</h1>
    <ul>
      {% for book in books%}
      <li>
        <a href="{{url_for('delete',id=book.id)}}">Delete</a>
        {{book.author}} - {{book.author}} - {{book.rating}}/10
        <a href="{{url_for('edit',id=book.id)}}">Edit Rating</a>
      </li>
      {% endfor %}
    </ul>

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
